.rad-1{ border-radius:1px ; -webkit-border-radius:1px ; -moz-border-radius:1px ; -ms-border-radius:1px ; -o-border-radius:1px ; }
.rad-1{ border-radius:2px ; -webkit-border-radius:2px ; -moz-border-radius:2px ; -ms-border-radius:2px ; -o-border-radius:2px ; }
.rad-1{ border-radius:3px ; -webkit-border-radius:3px ; -moz-border-radius:3px ; -ms-border-radius:3px ; -o-border-radius:3px ; }
.rad-1{ border-radius:4px ; -webkit-border-radius:4px ; -moz-border-radius:4px ; -ms-border-radius:4px ; -o-border-radius:4px ; }
.rad-1{ border-radius:5px ; -webkit-border-radius:5px ; -moz-border-radius:5px ; -ms-border-radius:5px ; -o-border-radius:5px ; }
.rad-1{ border-radius:6px ; -webkit-border-radius:6px ; -moz-border-radius:6px ; -ms-border-radius:6px ; -o-border-radius:6px ; }
.rad-1{ border-radius:7px ; -webkit-border-radius:7px ; -moz-border-radius:7px ; -ms-border-radius:7px ; -o-border-radius:7px ; }
.rad-1{ border-radius:8px ; -webkit-border-radius:8px ; -moz-border-radius:8px ; -ms-border-radius:8px ; -o-border-radius:8px ; }
.rad-1{ border-radius:9px ; -webkit-border-radius:9px ; -moz-border-radius:9px ; -ms-border-radius:9px ; -o-border-radius:9px ; }
.rad-10{ border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ; }
.rad-11{ border-radius:11px ; -webkit-border-radius:11px ; -moz-border-radius:11px ; -ms-border-radius:11px ; -o-border-radius:11px ; }
.rad-12{ border-radius:12px ; -webkit-border-radius:12px ; -moz-border-radius:12px ; -ms-border-radius:12px ; -o-border-radius:12px ; }
.rad-13{ border-radius:13px ; -webkit-border-radius:13px ; -moz-border-radius:13px ; -ms-border-radius:13px ; -o-border-radius:13px ; }
.rad-14{ border-radius:14px ; -webkit-border-radius:14px ; -moz-border-radius:14px ; -ms-border-radius:14px ; -o-border-radius:14px ; }
.rad-15{ border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
.rad-16{ border-radius:16px ; -webkit-border-radius:16px ; -moz-border-radius:16px ; -ms-border-radius:16px ; -o-border-radius:16px ; }
.rad-17{ border-radius:17px ; -webkit-border-radius:17px ; -moz-border-radius:17px ; -ms-border-radius:17px ; -o-border-radius:17px ; }
.rad-18{ border-radius:18px ; -webkit-border-radius:18px ; -moz-border-radius:18px ; -ms-border-radius:18px ; -o-border-radius:18px ; }
.rad-19{ border-radius:19px ; -webkit-border-radius:19px ; -moz-border-radius:19px ; -ms-border-radius:19px ; -o-border-radius:19px ; }

.rad-20{ border-radius:20px ; -webkit-border-radius:20px ; -moz-border-radius:20px ; -ms-border-radius:20px ; -o-border-radius:20px ; }
.rad-21{ border-radius:21px ; -webkit-border-radius:21px ; -moz-border-radius:21px ; -ms-border-radius:21px ; -o-border-radius:21px ; }
.rad-22{ border-radius:22px ; -webkit-border-radius:22px ; -moz-border-radius:22px ; -ms-border-radius:22px ; -o-border-radius:22px ; }
.rad-23{ border-radius:23px ; -webkit-border-radius:23px ; -moz-border-radius:23px ; -ms-border-radius:23px ; -o-border-radius:23px ; }
.rad-24{ border-radius:24px ; -webkit-border-radius:24px ; -moz-border-radius:24px ; -ms-border-radius:24px ; -o-border-radius:24px ; }
.rad-25{ border-radius:25px ; -webkit-border-radius:25px ; -moz-border-radius:25px ; -ms-border-radius:25px ; -o-border-radius:25px ; }
.rad-26{ border-radius:26px ; -webkit-border-radius:26px ; -moz-border-radius:26px ; -ms-border-radius:26px ; -o-border-radius:26px ; }
.rad-27{ border-radius:27px ; -webkit-border-radius:27px ; -moz-border-radius:27px ; -ms-border-radius:27px ; -o-border-radius:27px ; }
.rad-28{ border-radius:28px ; -webkit-border-radius:28px ; -moz-border-radius:28px ; -ms-border-radius:28px ; -o-border-radius:28px ; }
.rad-29{ border-radius:29px ; -webkit-border-radius:29px ; -moz-border-radius:29px ; -ms-border-radius:29px ; -o-border-radius:29px ; }

.rad-30{ border-radius:30px ; -webkit-border-radius:30px ; -moz-border-radius:30px ; -ms-border-radius:30px ; -o-border-radius:30px ; }
.rad-31{ border-radius:31px ; -webkit-border-radius:31px ; -moz-border-radius:31px ; -ms-border-radius:31px ; -o-border-radius:31px ; }
.rad-32{ border-radius:32px ; -webkit-border-radius:32px ; -moz-border-radius:32px ; -ms-border-radius:32px ; -o-border-radius:32px ; }
.rad-33{ border-radius:33px ; -webkit-border-radius:33px ; -moz-border-radius:33px ; -ms-border-radius:33px ; -o-border-radius:33px ; }
.rad-34{ border-radius:34px ; -webkit-border-radius:34px ; -moz-border-radius:34px ; -ms-border-radius:34px ; -o-border-radius:34px ; }
.rad-35{ border-radius:35px ; -webkit-border-radius:35px ; -moz-border-radius:35px ; -ms-border-radius:35px ; -o-border-radius:35px ; }
.rad-36{ border-radius:36px ; -webkit-border-radius:36px ; -moz-border-radius:36px ; -ms-border-radius:36px ; -o-border-radius:36px ; }
.rad-37{ border-radius:37px ; -webkit-border-radius:37px ; -moz-border-radius:37px ; -ms-border-radius:37px ; -o-border-radius:37px ; }
.rad-38{ border-radius:38px ; -webkit-border-radius:38px ; -moz-border-radius:38px ; -ms-border-radius:38px ; -o-border-radius:38px ; }
.rad-39{ border-radius:39px ; -webkit-border-radius:39px ; -moz-border-radius:39px ; -ms-border-radius:39px ; -o-border-radius:39px ; }

.rad-40{ border-radius:40px ; -webkit-border-radius:40px ; -moz-border-radius:40px ; -ms-border-radius:40px ; -o-border-radius:40px ; }
.rad-41{ border-radius:41px ; -webkit-border-radius:41px ; -moz-border-radius:41px ; -ms-border-radius:41px ; -o-border-radius:41px ; }
.rad-42{ border-radius:42px ; -webkit-border-radius:42px ; -moz-border-radius:42px ; -ms-border-radius:42px ; -o-border-radius:42px ; }
.rad-43{ border-radius:43px ; -webkit-border-radius:43px ; -moz-border-radius:43px ; -ms-border-radius:43px ; -o-border-radius:43px ; }
.rad-44{ border-radius:44px ; -webkit-border-radius:44px ; -moz-border-radius:44px ; -ms-border-radius:44px ; -o-border-radius:44px ; }
.rad-45{ border-radius:45px ; -webkit-border-radius:45px ; -moz-border-radius:45px ; -ms-border-radius:45px ; -o-border-radius:45px ; }
.rad-46{ border-radius:46px ; -webkit-border-radius:46px ; -moz-border-radius:46px ; -ms-border-radius:46px ; -o-border-radius:46px ; }
.rad-47{ border-radius:47px ; -webkit-border-radius:47px ; -moz-border-radius:47px ; -ms-border-radius:47px ; -o-border-radius:47px ; }
.rad-48{ border-radius:48px ; -webkit-border-radius:48px ; -moz-border-radius:48px ; -ms-border-radius:48px ; -o-border-radius:48px ; }
.rad-49{ border-radius:49px ; -webkit-border-radius:49px ; -moz-border-radius:49px ; -ms-border-radius:49px ; -o-border-radius:49px ; }

.rad-50{ border-radius:50px ; -webkit-border-radius:50px ; -moz-border-radius:50px ; -ms-border-radius:50px ; -o-border-radius:50px ; }
.rad-51{ border-radius:51px ; -webkit-border-radius:51px ; -moz-border-radius:51px ; -ms-border-radius:51px ; -o-border-radius:51px ; }
.rad-52{ border-radius:52px ; -webkit-border-radius:52px ; -moz-border-radius:52px ; -ms-border-radius:52px ; -o-border-radius:52px ; }
.rad-53{ border-radius:53px ; -webkit-border-radius:53px ; -moz-border-radius:53px ; -ms-border-radius:53px ; -o-border-radius:53px ; }
.rad-54{ border-radius:54px ; -webkit-border-radius:54px ; -moz-border-radius:54px ; -ms-border-radius:54px ; -o-border-radius:54px ; }
.rad-55{ border-radius:55px ; -webkit-border-radius:55px ; -moz-border-radius:55px ; -ms-border-radius:55px ; -o-border-radius:55px ; }
.rad-56{ border-radius:56px ; -webkit-border-radius:56px ; -moz-border-radius:56px ; -ms-border-radius:56px ; -o-border-radius:56px ; }
.rad-57{ border-radius:57px ; -webkit-border-radius:57px ; -moz-border-radius:57px ; -ms-border-radius:57px ; -o-border-radius:57px ; }
.rad-58{ border-radius:58px ; -webkit-border-radius:58px ; -moz-border-radius:58px ; -ms-border-radius:58px ; -o-border-radius:58px ; }
.rad-59{ border-radius:59px ; -webkit-border-radius:59px ; -moz-border-radius:59px ; -ms-border-radius:59px ; -o-border-radius:59px ; }

.rad-60{ border-radius:60px ; -webkit-border-radius:60px ; -moz-border-radius:60px ; -ms-border-radius:60px ; -o-border-radius:60px ; }
.rad-61{ border-radius:61px ; -webkit-border-radius:61px ; -moz-border-radius:61px ; -ms-border-radius:61px ; -o-border-radius:61px ; }
.rad-62{ border-radius:62px ; -webkit-border-radius:62px ; -moz-border-radius:62px ; -ms-border-radius:62px ; -o-border-radius:62px ; }
.rad-63{ border-radius:63px ; -webkit-border-radius:63px ; -moz-border-radius:63px ; -ms-border-radius:63px ; -o-border-radius:63px ; }
.rad-64{ border-radius:64px ; -webkit-border-radius:64px ; -moz-border-radius:64px ; -ms-border-radius:64px ; -o-border-radius:64px ; }
.rad-65{ border-radius:65px ; -webkit-border-radius:65px ; -moz-border-radius:65px ; -ms-border-radius:65px ; -o-border-radius:65px ; }
.rad-66{ border-radius:66px ; -webkit-border-radius:66px ; -moz-border-radius:66px ; -ms-border-radius:66px ; -o-border-radius:66px ; }
.rad-67{ border-radius:67px ; -webkit-border-radius:67px ; -moz-border-radius:67px ; -ms-border-radius:67px ; -o-border-radius:67px ; }
.rad-68{ border-radius:68px ; -webkit-border-radius:68px ; -moz-border-radius:68px ; -ms-border-radius:68px ; -o-border-radius:68px ; }
.rad-69{ border-radius:69px ; -webkit-border-radius:69px ; -moz-border-radius:69px ; -ms-border-radius:69px ; -o-border-radius:69px ; }


.rad-70{ border-radius:70px ; -webkit-border-radius:70px ; -moz-border-radius:70px ; -ms-border-radius:70px ; -o-border-radius:70px ; }
.rad-71{ border-radius:71px ; -webkit-border-radius:71px ; -moz-border-radius:71px ; -ms-border-radius:71px ; -o-border-radius:71px ; }
.rad-72{ border-radius:72px ; -webkit-border-radius:72px ; -moz-border-radius:72px ; -ms-border-radius:72px ; -o-border-radius:72px ; }
.rad-73{ border-radius:73px ; -webkit-border-radius:73px ; -moz-border-radius:73px ; -ms-border-radius:73px ; -o-border-radius:73px ; }
.rad-74{ border-radius:74px ; -webkit-border-radius:74px ; -moz-border-radius:74px ; -ms-border-radius:74px ; -o-border-radius:74px ; }
.rad-75{ border-radius:75px ; -webkit-border-radius:75px ; -moz-border-radius:75px ; -ms-border-radius:75px ; -o-border-radius:75px ; }
.rad-76{ border-radius:76px ; -webkit-border-radius:76px ; -moz-border-radius:76px ; -ms-border-radius:76px ; -o-border-radius:76px ; }
.rad-77{ border-radius:77px ; -webkit-border-radius:77px ; -moz-border-radius:77px ; -ms-border-radius:77px ; -o-border-radius:77px ; }
.rad-78{ border-radius:78px ; -webkit-border-radius:78px ; -moz-border-radius:78px ; -ms-border-radius:78px ; -o-border-radius:78px ; }
.rad-79{ border-radius:79px ; -webkit-border-radius:79px ; -moz-border-radius:79px ; -ms-border-radius:79px ; -o-border-radius:79px ; }


.rad-80{ border-radius:80px ; -webkit-border-radius:80px ; -moz-border-radius:80px ; -ms-border-radius:80px ; -o-border-radius:80px ; }
.rad-81{ border-radius:81px ; -webkit-border-radius:81px ; -moz-border-radius:81px ; -ms-border-radius:81px ; -o-border-radius:81px ; }
.rad-82{ border-radius:82px ; -webkit-border-radius:82px ; -moz-border-radius:82px ; -ms-border-radius:82px ; -o-border-radius:82px ; }
.rad-83{ border-radius:83px ; -webkit-border-radius:83px ; -moz-border-radius:83px ; -ms-border-radius:83px ; -o-border-radius:83px ; }
.rad-84{ border-radius:84px ; -webkit-border-radius:84px ; -moz-border-radius:84px ; -ms-border-radius:84px ; -o-border-radius:84px ; }
.rad-85{ border-radius:85px ; -webkit-border-radius:85px ; -moz-border-radius:85px ; -ms-border-radius:85px ; -o-border-radius:85px ; }
.rad-86{ border-radius:86px ; -webkit-border-radius:86px ; -moz-border-radius:86px ; -ms-border-radius:86px ; -o-border-radius:86px ; }
.rad-87{ border-radius:87px ; -webkit-border-radius:87px ; -moz-border-radius:87px ; -ms-border-radius:87px ; -o-border-radius:87px ; }
.rad-88{ border-radius:88px ; -webkit-border-radius:88px ; -moz-border-radius:88px ; -ms-border-radius:88px ; -o-border-radius:88px ; }
.rad-89{ border-radius:89px ; -webkit-border-radius:89px ; -moz-border-radius:89px ; -ms-border-radius:89px ; -o-border-radius:89px ; }


.rad-90{ border-radius:90px ; -webkit-border-radius:90px ; -moz-border-radius:90px ; -ms-border-radius:90px ; -o-border-radius:90px ; }
.rad-91{ border-radius:91px ; -webkit-border-radius:91px ; -moz-border-radius:91px ; -ms-border-radius:91px ; -o-border-radius:91px ; }
.rad-92{ border-radius:92px ; -webkit-border-radius:92px ; -moz-border-radius:92px ; -ms-border-radius:92px ; -o-border-radius:92px ; }
.rad-93{ border-radius:93px ; -webkit-border-radius:93px ; -moz-border-radius:93px ; -ms-border-radius:93px ; -o-border-radius:93px ; }
.rad-94{ border-radius:94px ; -webkit-border-radius:94px ; -moz-border-radius:94px ; -ms-border-radius:94px ; -o-border-radius:94px ; }
.rad-95{ border-radius:95px ; -webkit-border-radius:95px ; -moz-border-radius:95px ; -ms-border-radius:95px ; -o-border-radius:95px ; }
.rad-96{ border-radius:96px ; -webkit-border-radius:96px ; -moz-border-radius:96px ; -ms-border-radius:96px ; -o-border-radius:96px ; }
.rad-97{ border-radius:97px ; -webkit-border-radius:97px ; -moz-border-radius:97px ; -ms-border-radius:97px ; -o-border-radius:97px ; }
.rad-98{ border-radius:98px ; -webkit-border-radius:98px ; -moz-border-radius:98px ; -ms-border-radius:98px ; -o-border-radius:98px ; }
.rad-99{ border-radius:99px ; -webkit-border-radius:99px ; -moz-border-radius:99px ; -ms-border-radius:99px ; -o-border-radius:99px ; }

.rad-100{ border-radius:100px ; -webkit-border-radius:100px ; -moz-border-radius:100px ; -ms-border-radius:100px ; -o-border-radius:100px ; }












/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */





.rad-100-1{ border-radius:1% ; -webkit-border-radius:1% ; -moz-border-radius:1% ; -ms-border-radius:1% ; -o-border-radius:1% ; }
.rad-100-1{ border-radius:2% ; -webkit-border-radius:2% ; -moz-border-radius:2% ; -ms-border-radius:2% ; -o-border-radius:2% ; }
.rad-100-1{ border-radius:3% ; -webkit-border-radius:3% ; -moz-border-radius:3% ; -ms-border-radius:3% ; -o-border-radius:3% ; }
.rad-100-1{ border-radius:4% ; -webkit-border-radius:4% ; -moz-border-radius:4% ; -ms-border-radius:4% ; -o-border-radius:4% ; }
.rad-100-1{ border-radius:5% ; -webkit-border-radius:5% ; -moz-border-radius:5% ; -ms-border-radius:5% ; -o-border-radius:5% ; }
.rad-100-1{ border-radius:6% ; -webkit-border-radius:6% ; -moz-border-radius:6% ; -ms-border-radius:6% ; -o-border-radius:6% ; }
.rad-100-1{ border-radius:7% ; -webkit-border-radius:7% ; -moz-border-radius:7% ; -ms-border-radius:7% ; -o-border-radius:7% ; }
.rad-100-1{ border-radius:8% ; -webkit-border-radius:8% ; -moz-border-radius:8% ; -ms-border-radius:8% ; -o-border-radius:8% ; }
.rad-100-1{ border-radius:9% ; -webkit-border-radius:9% ; -moz-border-radius:9% ; -ms-border-radius:9% ; -o-border-radius:9% ; }
.rad-100-10{ border-radius:10% ; -webkit-border-radius:10% ; -moz-border-radius:10% ; -ms-border-radius:10% ; -o-border-radius:10% ; }
.rad-100-11{ border-radius:11% ; -webkit-border-radius:11% ; -moz-border-radius:11% ; -ms-border-radius:11% ; -o-border-radius:11% ; }
.rad-100-12{ border-radius:12% ; -webkit-border-radius:12% ; -moz-border-radius:12% ; -ms-border-radius:12% ; -o-border-radius:12% ; }
.rad-100-13{ border-radius:13% ; -webkit-border-radius:13% ; -moz-border-radius:13% ; -ms-border-radius:13% ; -o-border-radius:13% ; }
.rad-100-14{ border-radius:14% ; -webkit-border-radius:14% ; -moz-border-radius:14% ; -ms-border-radius:14% ; -o-border-radius:14% ; }
.rad-100-15{ border-radius:15% ; -webkit-border-radius:15% ; -moz-border-radius:15% ; -ms-border-radius:15% ; -o-border-radius:15% ; }
.rad-100-16{ border-radius:16% ; -webkit-border-radius:16% ; -moz-border-radius:16% ; -ms-border-radius:16% ; -o-border-radius:16% ; }
.rad-100-17{ border-radius:17% ; -webkit-border-radius:17% ; -moz-border-radius:17% ; -ms-border-radius:17% ; -o-border-radius:17% ; }
.rad-100-18{ border-radius:18% ; -webkit-border-radius:18% ; -moz-border-radius:18% ; -ms-border-radius:18% ; -o-border-radius:18% ; }
.rad-100-19{ border-radius:19% ; -webkit-border-radius:19% ; -moz-border-radius:19% ; -ms-border-radius:19% ; -o-border-radius:19% ; }

.rad-100-20{ border-radius:20% ; -webkit-border-radius:20% ; -moz-border-radius:20% ; -ms-border-radius:20% ; -o-border-radius:20% ; }
.rad-100-21{ border-radius:21% ; -webkit-border-radius:21% ; -moz-border-radius:21% ; -ms-border-radius:21% ; -o-border-radius:21% ; }
.rad-100-22{ border-radius:22% ; -webkit-border-radius:22% ; -moz-border-radius:22% ; -ms-border-radius:22% ; -o-border-radius:22% ; }
.rad-100-23{ border-radius:23% ; -webkit-border-radius:23% ; -moz-border-radius:23% ; -ms-border-radius:23% ; -o-border-radius:23% ; }
.rad-100-24{ border-radius:24% ; -webkit-border-radius:24% ; -moz-border-radius:24% ; -ms-border-radius:24% ; -o-border-radius:24% ; }
.rad-100-25{ border-radius:25% ; -webkit-border-radius:25% ; -moz-border-radius:25% ; -ms-border-radius:25% ; -o-border-radius:25% ; }
.rad-100-26{ border-radius:26% ; -webkit-border-radius:26% ; -moz-border-radius:26% ; -ms-border-radius:26% ; -o-border-radius:26% ; }
.rad-100-27{ border-radius:27% ; -webkit-border-radius:27% ; -moz-border-radius:27% ; -ms-border-radius:27% ; -o-border-radius:27% ; }
.rad-100-28{ border-radius:28% ; -webkit-border-radius:28% ; -moz-border-radius:28% ; -ms-border-radius:28% ; -o-border-radius:28% ; }
.rad-100-29{ border-radius:29% ; -webkit-border-radius:29% ; -moz-border-radius:29% ; -ms-border-radius:29% ; -o-border-radius:29% ; }

.rad-100-30{ border-radius:30% ; -webkit-border-radius:30% ; -moz-border-radius:30% ; -ms-border-radius:30% ; -o-border-radius:30% ; }
.rad-100-31{ border-radius:31% ; -webkit-border-radius:31% ; -moz-border-radius:31% ; -ms-border-radius:31% ; -o-border-radius:31% ; }
.rad-100-32{ border-radius:32% ; -webkit-border-radius:32% ; -moz-border-radius:32% ; -ms-border-radius:32% ; -o-border-radius:32% ; }
.rad-100-33{ border-radius:33% ; -webkit-border-radius:33% ; -moz-border-radius:33% ; -ms-border-radius:33% ; -o-border-radius:33% ; }
.rad-100-34{ border-radius:34% ; -webkit-border-radius:34% ; -moz-border-radius:34% ; -ms-border-radius:34% ; -o-border-radius:34% ; }
.rad-100-35{ border-radius:35% ; -webkit-border-radius:35% ; -moz-border-radius:35% ; -ms-border-radius:35% ; -o-border-radius:35% ; }
.rad-100-36{ border-radius:36% ; -webkit-border-radius:36% ; -moz-border-radius:36% ; -ms-border-radius:36% ; -o-border-radius:36% ; }
.rad-100-37{ border-radius:37% ; -webkit-border-radius:37% ; -moz-border-radius:37% ; -ms-border-radius:37% ; -o-border-radius:37% ; }
.rad-100-38{ border-radius:38% ; -webkit-border-radius:38% ; -moz-border-radius:38% ; -ms-border-radius:38% ; -o-border-radius:38% ; }
.rad-100-39{ border-radius:39% ; -webkit-border-radius:39% ; -moz-border-radius:39% ; -ms-border-radius:39% ; -o-border-radius:39% ; }

.rad-100-40{ border-radius:40% ; -webkit-border-radius:40% ; -moz-border-radius:40% ; -ms-border-radius:40% ; -o-border-radius:40% ; }
.rad-100-41{ border-radius:41% ; -webkit-border-radius:41% ; -moz-border-radius:41% ; -ms-border-radius:41% ; -o-border-radius:41% ; }
.rad-100-42{ border-radius:42% ; -webkit-border-radius:42% ; -moz-border-radius:42% ; -ms-border-radius:42% ; -o-border-radius:42% ; }
.rad-100-43{ border-radius:43% ; -webkit-border-radius:43% ; -moz-border-radius:43% ; -ms-border-radius:43% ; -o-border-radius:43% ; }
.rad-100-44{ border-radius:44% ; -webkit-border-radius:44% ; -moz-border-radius:44% ; -ms-border-radius:44% ; -o-border-radius:44% ; }
.rad-100-45{ border-radius:45% ; -webkit-border-radius:45% ; -moz-border-radius:45% ; -ms-border-radius:45% ; -o-border-radius:45% ; }
.rad-100-46{ border-radius:46% ; -webkit-border-radius:46% ; -moz-border-radius:46% ; -ms-border-radius:46% ; -o-border-radius:46% ; }
.rad-100-47{ border-radius:47% ; -webkit-border-radius:47% ; -moz-border-radius:47% ; -ms-border-radius:47% ; -o-border-radius:47% ; }
.rad-100-48{ border-radius:48% ; -webkit-border-radius:48% ; -moz-border-radius:48% ; -ms-border-radius:48% ; -o-border-radius:48% ; }
.rad-100-49{ border-radius:49% ; -webkit-border-radius:49% ; -moz-border-radius:49% ; -ms-border-radius:49% ; -o-border-radius:49% ; }

.rad-100-50{ border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.rad-100-51{ border-radius:51% ; -webkit-border-radius:51% ; -moz-border-radius:51% ; -ms-border-radius:51% ; -o-border-radius:51% ; }
.rad-100-52{ border-radius:52% ; -webkit-border-radius:52% ; -moz-border-radius:52% ; -ms-border-radius:52% ; -o-border-radius:52% ; }
.rad-100-53{ border-radius:53% ; -webkit-border-radius:53% ; -moz-border-radius:53% ; -ms-border-radius:53% ; -o-border-radius:53% ; }
.rad-100-54{ border-radius:54% ; -webkit-border-radius:54% ; -moz-border-radius:54% ; -ms-border-radius:54% ; -o-border-radius:54% ; }
.rad-100-55{ border-radius:55% ; -webkit-border-radius:55% ; -moz-border-radius:55% ; -ms-border-radius:55% ; -o-border-radius:55% ; }
.rad-100-56{ border-radius:56% ; -webkit-border-radius:56% ; -moz-border-radius:56% ; -ms-border-radius:56% ; -o-border-radius:56% ; }
.rad-100-57{ border-radius:57% ; -webkit-border-radius:57% ; -moz-border-radius:57% ; -ms-border-radius:57% ; -o-border-radius:57% ; }
.rad-100-58{ border-radius:58% ; -webkit-border-radius:58% ; -moz-border-radius:58% ; -ms-border-radius:58% ; -o-border-radius:58% ; }
.rad-100-59{ border-radius:59% ; -webkit-border-radius:59% ; -moz-border-radius:59% ; -ms-border-radius:59% ; -o-border-radius:59% ; }

.rad-100-60{ border-radius:60% ; -webkit-border-radius:60% ; -moz-border-radius:60% ; -ms-border-radius:60% ; -o-border-radius:60% ; }
.rad-100-61{ border-radius:61% ; -webkit-border-radius:61% ; -moz-border-radius:61% ; -ms-border-radius:61% ; -o-border-radius:61% ; }
.rad-100-62{ border-radius:62% ; -webkit-border-radius:62% ; -moz-border-radius:62% ; -ms-border-radius:62% ; -o-border-radius:62% ; }
.rad-100-63{ border-radius:63% ; -webkit-border-radius:63% ; -moz-border-radius:63% ; -ms-border-radius:63% ; -o-border-radius:63% ; }
.rad-100-64{ border-radius:64% ; -webkit-border-radius:64% ; -moz-border-radius:64% ; -ms-border-radius:64% ; -o-border-radius:64% ; }
.rad-100-65{ border-radius:65% ; -webkit-border-radius:65% ; -moz-border-radius:65% ; -ms-border-radius:65% ; -o-border-radius:65% ; }
.rad-100-66{ border-radius:66% ; -webkit-border-radius:66% ; -moz-border-radius:66% ; -ms-border-radius:66% ; -o-border-radius:66% ; }
.rad-100-67{ border-radius:67% ; -webkit-border-radius:67% ; -moz-border-radius:67% ; -ms-border-radius:67% ; -o-border-radius:67% ; }
.rad-100-68{ border-radius:68% ; -webkit-border-radius:68% ; -moz-border-radius:68% ; -ms-border-radius:68% ; -o-border-radius:68% ; }
.rad-100-69{ border-radius:69% ; -webkit-border-radius:69% ; -moz-border-radius:69% ; -ms-border-radius:69% ; -o-border-radius:69% ; }


.rad-100-70{ border-radius:70% ; -webkit-border-radius:70% ; -moz-border-radius:70% ; -ms-border-radius:70% ; -o-border-radius:70% ; }
.rad-100-71{ border-radius:71% ; -webkit-border-radius:71% ; -moz-border-radius:71% ; -ms-border-radius:71% ; -o-border-radius:71% ; }
.rad-100-72{ border-radius:72% ; -webkit-border-radius:72% ; -moz-border-radius:72% ; -ms-border-radius:72% ; -o-border-radius:72% ; }
.rad-100-73{ border-radius:73% ; -webkit-border-radius:73% ; -moz-border-radius:73% ; -ms-border-radius:73% ; -o-border-radius:73% ; }
.rad-100-74{ border-radius:74% ; -webkit-border-radius:74% ; -moz-border-radius:74% ; -ms-border-radius:74% ; -o-border-radius:74% ; }
.rad-100-75{ border-radius:75% ; -webkit-border-radius:75% ; -moz-border-radius:75% ; -ms-border-radius:75% ; -o-border-radius:75% ; }
.rad-100-76{ border-radius:76% ; -webkit-border-radius:76% ; -moz-border-radius:76% ; -ms-border-radius:76% ; -o-border-radius:76% ; }
.rad-100-77{ border-radius:77% ; -webkit-border-radius:77% ; -moz-border-radius:77% ; -ms-border-radius:77% ; -o-border-radius:77% ; }
.rad-100-78{ border-radius:78% ; -webkit-border-radius:78% ; -moz-border-radius:78% ; -ms-border-radius:78% ; -o-border-radius:78% ; }
.rad-100-79{ border-radius:79% ; -webkit-border-radius:79% ; -moz-border-radius:79% ; -ms-border-radius:79% ; -o-border-radius:79% ; }


.rad-100-80{ border-radius:80% ; -webkit-border-radius:80% ; -moz-border-radius:80% ; -ms-border-radius:80% ; -o-border-radius:80% ; }
.rad-100-81{ border-radius:81% ; -webkit-border-radius:81% ; -moz-border-radius:81% ; -ms-border-radius:81% ; -o-border-radius:81% ; }
.rad-100-82{ border-radius:82% ; -webkit-border-radius:82% ; -moz-border-radius:82% ; -ms-border-radius:82% ; -o-border-radius:82% ; }
.rad-100-83{ border-radius:83% ; -webkit-border-radius:83% ; -moz-border-radius:83% ; -ms-border-radius:83% ; -o-border-radius:83% ; }
.rad-100-84{ border-radius:84% ; -webkit-border-radius:84% ; -moz-border-radius:84% ; -ms-border-radius:84% ; -o-border-radius:84% ; }
.rad-100-85{ border-radius:85% ; -webkit-border-radius:85% ; -moz-border-radius:85% ; -ms-border-radius:85% ; -o-border-radius:85% ; }
.rad-100-86{ border-radius:86% ; -webkit-border-radius:86% ; -moz-border-radius:86% ; -ms-border-radius:86% ; -o-border-radius:86% ; }
.rad-100-87{ border-radius:87% ; -webkit-border-radius:87% ; -moz-border-radius:87% ; -ms-border-radius:87% ; -o-border-radius:87% ; }
.rad-100-88{ border-radius:88% ; -webkit-border-radius:88% ; -moz-border-radius:88% ; -ms-border-radius:88% ; -o-border-radius:88% ; }
.rad-100-89{ border-radius:89% ; -webkit-border-radius:89% ; -moz-border-radius:89% ; -ms-border-radius:89% ; -o-border-radius:89% ; }


.rad-100-90{ border-radius:90% ; -webkit-border-radius:90% ; -moz-border-radius:90% ; -ms-border-radius:90% ; -o-border-radius:90% ; }
.rad-100-91{ border-radius:91% ; -webkit-border-radius:91% ; -moz-border-radius:91% ; -ms-border-radius:91% ; -o-border-radius:91% ; }
.rad-100-92{ border-radius:92% ; -webkit-border-radius:92% ; -moz-border-radius:92% ; -ms-border-radius:92% ; -o-border-radius:92% ; }
.rad-100-93{ border-radius:93% ; -webkit-border-radius:93% ; -moz-border-radius:93% ; -ms-border-radius:93% ; -o-border-radius:93% ; }
.rad-100-94{ border-radius:94% ; -webkit-border-radius:94% ; -moz-border-radius:94% ; -ms-border-radius:94% ; -o-border-radius:94% ; }
.rad-100-95{ border-radius:95% ; -webkit-border-radius:95% ; -moz-border-radius:95% ; -ms-border-radius:95% ; -o-border-radius:95% ; }
.rad-100-96{ border-radius:96% ; -webkit-border-radius:96% ; -moz-border-radius:96% ; -ms-border-radius:96% ; -o-border-radius:96% ; }
.rad-100-97{ border-radius:97% ; -webkit-border-radius:97% ; -moz-border-radius:97% ; -ms-border-radius:97% ; -o-border-radius:97% ; }
.rad-100-98{ border-radius:98% ; -webkit-border-radius:98% ; -moz-border-radius:98% ; -ms-border-radius:98% ; -o-border-radius:98% ; }
.rad-100-99{ border-radius:99% ; -webkit-border-radius:99% ; -moz-border-radius:99% ; -ms-border-radius:99% ; -o-border-radius:99% ; }

.rad-100-100{ border-radius:100% ; -webkit-border-radius:100% ; -moz-border-radius:100% ; -ms-border-radius:100% ; -o-border-radius:100% ; }





.rad-vh-1{ border-radius:1vh ; -webkit-border-radius:1vh ; -moz-border-radius:1vh ; -ms-border-radius:1vh ; -o-border-radius:1vh ; }
.rad-vh-1{ border-radius:2vh ; -webkit-border-radius:2vh ; -moz-border-radius:2vh ; -ms-border-radius:2vh ; -o-border-radius:2vh ; }
.rad-vh-1{ border-radius:3vh ; -webkit-border-radius:3vh ; -moz-border-radius:3vh ; -ms-border-radius:3vh ; -o-border-radius:3vh ; }
.rad-vh-1{ border-radius:4vh ; -webkit-border-radius:4vh ; -moz-border-radius:4vh ; -ms-border-radius:4vh ; -o-border-radius:4vh ; }
.rad-vh-1{ border-radius:5vh ; -webkit-border-radius:5vh ; -moz-border-radius:5vh ; -ms-border-radius:5vh ; -o-border-radius:5vh ; }
.rad-vh-1{ border-radius:6vh ; -webkit-border-radius:6vh ; -moz-border-radius:6vh ; -ms-border-radius:6vh ; -o-border-radius:6vh ; }
.rad-vh-1{ border-radius:7vh ; -webkit-border-radius:7vh ; -moz-border-radius:7vh ; -ms-border-radius:7vh ; -o-border-radius:7vh ; }
.rad-vh-1{ border-radius:8vh ; -webkit-border-radius:8vh ; -moz-border-radius:8vh ; -ms-border-radius:8vh ; -o-border-radius:8vh ; }
.rad-vh-1{ border-radius:9vh ; -webkit-border-radius:9vh ; -moz-border-radius:9vh ; -ms-border-radius:9vh ; -o-border-radius:9vh ; }
.rad-vh-10{ border-radius:10vh ; -webkit-border-radius:10vh ; -moz-border-radius:10vh ; -ms-border-radius:10vh ; -o-border-radius:10vh ; }
.rad-vh-11{ border-radius:11vh ; -webkit-border-radius:11vh ; -moz-border-radius:11vh ; -ms-border-radius:11vh ; -o-border-radius:11vh ; }
.rad-vh-12{ border-radius:12vh ; -webkit-border-radius:12vh ; -moz-border-radius:12vh ; -ms-border-radius:12vh ; -o-border-radius:12vh ; }
.rad-vh-13{ border-radius:13vh ; -webkit-border-radius:13vh ; -moz-border-radius:13vh ; -ms-border-radius:13vh ; -o-border-radius:13vh ; }
.rad-vh-14{ border-radius:14vh ; -webkit-border-radius:14vh ; -moz-border-radius:14vh ; -ms-border-radius:14vh ; -o-border-radius:14vh ; }
.rad-vh-15{ border-radius:15vh ; -webkit-border-radius:15vh ; -moz-border-radius:15vh ; -ms-border-radius:15vh ; -o-border-radius:15vh ; }
.rad-vh-16{ border-radius:16vh ; -webkit-border-radius:16vh ; -moz-border-radius:16vh ; -ms-border-radius:16vh ; -o-border-radius:16vh ; }
.rad-vh-17{ border-radius:17vh ; -webkit-border-radius:17vh ; -moz-border-radius:17vh ; -ms-border-radius:17vh ; -o-border-radius:17vh ; }
.rad-vh-18{ border-radius:18vh ; -webkit-border-radius:18vh ; -moz-border-radius:18vh ; -ms-border-radius:18vh ; -o-border-radius:18vh ; }
.rad-vh-19{ border-radius:19vh ; -webkit-border-radius:19vh ; -moz-border-radius:19vh ; -ms-border-radius:19vh ; -o-border-radius:19vh ; }

.rad-vh-20{ border-radius:20vh ; -webkit-border-radius:20vh ; -moz-border-radius:20vh ; -ms-border-radius:20vh ; -o-border-radius:20vh ; }
.rad-vh-21{ border-radius:21vh ; -webkit-border-radius:21vh ; -moz-border-radius:21vh ; -ms-border-radius:21vh ; -o-border-radius:21vh ; }
.rad-vh-22{ border-radius:22vh ; -webkit-border-radius:22vh ; -moz-border-radius:22vh ; -ms-border-radius:22vh ; -o-border-radius:22vh ; }
.rad-vh-23{ border-radius:23vh ; -webkit-border-radius:23vh ; -moz-border-radius:23vh ; -ms-border-radius:23vh ; -o-border-radius:23vh ; }
.rad-vh-24{ border-radius:24vh ; -webkit-border-radius:24vh ; -moz-border-radius:24vh ; -ms-border-radius:24vh ; -o-border-radius:24vh ; }
.rad-vh-25{ border-radius:25vh ; -webkit-border-radius:25vh ; -moz-border-radius:25vh ; -ms-border-radius:25vh ; -o-border-radius:25vh ; }
.rad-vh-26{ border-radius:26vh ; -webkit-border-radius:26vh ; -moz-border-radius:26vh ; -ms-border-radius:26vh ; -o-border-radius:26vh ; }
.rad-vh-27{ border-radius:27vh ; -webkit-border-radius:27vh ; -moz-border-radius:27vh ; -ms-border-radius:27vh ; -o-border-radius:27vh ; }
.rad-vh-28{ border-radius:28vh ; -webkit-border-radius:28vh ; -moz-border-radius:28vh ; -ms-border-radius:28vh ; -o-border-radius:28vh ; }
.rad-vh-29{ border-radius:29vh ; -webkit-border-radius:29vh ; -moz-border-radius:29vh ; -ms-border-radius:29vh ; -o-border-radius:29vh ; }

.rad-vh-30{ border-radius:30vh ; -webkit-border-radius:30vh ; -moz-border-radius:30vh ; -ms-border-radius:30vh ; -o-border-radius:30vh ; }
.rad-vh-31{ border-radius:31vh ; -webkit-border-radius:31vh ; -moz-border-radius:31vh ; -ms-border-radius:31vh ; -o-border-radius:31vh ; }
.rad-vh-32{ border-radius:32vh ; -webkit-border-radius:32vh ; -moz-border-radius:32vh ; -ms-border-radius:32vh ; -o-border-radius:32vh ; }
.rad-vh-33{ border-radius:33vh ; -webkit-border-radius:33vh ; -moz-border-radius:33vh ; -ms-border-radius:33vh ; -o-border-radius:33vh ; }
.rad-vh-34{ border-radius:34vh ; -webkit-border-radius:34vh ; -moz-border-radius:34vh ; -ms-border-radius:34vh ; -o-border-radius:34vh ; }
.rad-vh-35{ border-radius:35vh ; -webkit-border-radius:35vh ; -moz-border-radius:35vh ; -ms-border-radius:35vh ; -o-border-radius:35vh ; }
.rad-vh-36{ border-radius:36vh ; -webkit-border-radius:36vh ; -moz-border-radius:36vh ; -ms-border-radius:36vh ; -o-border-radius:36vh ; }
.rad-vh-37{ border-radius:37vh ; -webkit-border-radius:37vh ; -moz-border-radius:37vh ; -ms-border-radius:37vh ; -o-border-radius:37vh ; }
.rad-vh-38{ border-radius:38vh ; -webkit-border-radius:38vh ; -moz-border-radius:38vh ; -ms-border-radius:38vh ; -o-border-radius:38vh ; }
.rad-vh-39{ border-radius:39vh ; -webkit-border-radius:39vh ; -moz-border-radius:39vh ; -ms-border-radius:39vh ; -o-border-radius:39vh ; }

.rad-vh-40{ border-radius:40vh ; -webkit-border-radius:40vh ; -moz-border-radius:40vh ; -ms-border-radius:40vh ; -o-border-radius:40vh ; }
.rad-vh-41{ border-radius:41vh ; -webkit-border-radius:41vh ; -moz-border-radius:41vh ; -ms-border-radius:41vh ; -o-border-radius:41vh ; }
.rad-vh-42{ border-radius:42vh ; -webkit-border-radius:42vh ; -moz-border-radius:42vh ; -ms-border-radius:42vh ; -o-border-radius:42vh ; }
.rad-vh-43{ border-radius:43vh ; -webkit-border-radius:43vh ; -moz-border-radius:43vh ; -ms-border-radius:43vh ; -o-border-radius:43vh ; }
.rad-vh-44{ border-radius:44vh ; -webkit-border-radius:44vh ; -moz-border-radius:44vh ; -ms-border-radius:44vh ; -o-border-radius:44vh ; }
.rad-vh-45{ border-radius:45vh ; -webkit-border-radius:45vh ; -moz-border-radius:45vh ; -ms-border-radius:45vh ; -o-border-radius:45vh ; }
.rad-vh-46{ border-radius:46vh ; -webkit-border-radius:46vh ; -moz-border-radius:46vh ; -ms-border-radius:46vh ; -o-border-radius:46vh ; }
.rad-vh-47{ border-radius:47vh ; -webkit-border-radius:47vh ; -moz-border-radius:47vh ; -ms-border-radius:47vh ; -o-border-radius:47vh ; }
.rad-vh-48{ border-radius:48vh ; -webkit-border-radius:48vh ; -moz-border-radius:48vh ; -ms-border-radius:48vh ; -o-border-radius:48vh ; }
.rad-vh-49{ border-radius:49vh ; -webkit-border-radius:49vh ; -moz-border-radius:49vh ; -ms-border-radius:49vh ; -o-border-radius:49vh ; }

.rad-vh-50{ border-radius:50vh ; -webkit-border-radius:50vh ; -moz-border-radius:50vh ; -ms-border-radius:50vh ; -o-border-radius:50vh ; }
.rad-vh-51{ border-radius:51vh ; -webkit-border-radius:51vh ; -moz-border-radius:51vh ; -ms-border-radius:51vh ; -o-border-radius:51vh ; }
.rad-vh-52{ border-radius:52vh ; -webkit-border-radius:52vh ; -moz-border-radius:52vh ; -ms-border-radius:52vh ; -o-border-radius:52vh ; }
.rad-vh-53{ border-radius:53vh ; -webkit-border-radius:53vh ; -moz-border-radius:53vh ; -ms-border-radius:53vh ; -o-border-radius:53vh ; }
.rad-vh-54{ border-radius:54vh ; -webkit-border-radius:54vh ; -moz-border-radius:54vh ; -ms-border-radius:54vh ; -o-border-radius:54vh ; }
.rad-vh-55{ border-radius:55vh ; -webkit-border-radius:55vh ; -moz-border-radius:55vh ; -ms-border-radius:55vh ; -o-border-radius:55vh ; }
.rad-vh-56{ border-radius:56vh ; -webkit-border-radius:56vh ; -moz-border-radius:56vh ; -ms-border-radius:56vh ; -o-border-radius:56vh ; }
.rad-vh-57{ border-radius:57vh ; -webkit-border-radius:57vh ; -moz-border-radius:57vh ; -ms-border-radius:57vh ; -o-border-radius:57vh ; }
.rad-vh-58{ border-radius:58vh ; -webkit-border-radius:58vh ; -moz-border-radius:58vh ; -ms-border-radius:58vh ; -o-border-radius:58vh ; }
.rad-vh-59{ border-radius:59vh ; -webkit-border-radius:59vh ; -moz-border-radius:59vh ; -ms-border-radius:59vh ; -o-border-radius:59vh ; }

.rad-vh-60{ border-radius:60vh ; -webkit-border-radius:60vh ; -moz-border-radius:60vh ; -ms-border-radius:60vh ; -o-border-radius:60vh ; }
.rad-vh-61{ border-radius:61vh ; -webkit-border-radius:61vh ; -moz-border-radius:61vh ; -ms-border-radius:61vh ; -o-border-radius:61vh ; }
.rad-vh-62{ border-radius:62vh ; -webkit-border-radius:62vh ; -moz-border-radius:62vh ; -ms-border-radius:62vh ; -o-border-radius:62vh ; }
.rad-vh-63{ border-radius:63vh ; -webkit-border-radius:63vh ; -moz-border-radius:63vh ; -ms-border-radius:63vh ; -o-border-radius:63vh ; }
.rad-vh-64{ border-radius:64vh ; -webkit-border-radius:64vh ; -moz-border-radius:64vh ; -ms-border-radius:64vh ; -o-border-radius:64vh ; }
.rad-vh-65{ border-radius:65vh ; -webkit-border-radius:65vh ; -moz-border-radius:65vh ; -ms-border-radius:65vh ; -o-border-radius:65vh ; }
.rad-vh-66{ border-radius:66vh ; -webkit-border-radius:66vh ; -moz-border-radius:66vh ; -ms-border-radius:66vh ; -o-border-radius:66vh ; }
.rad-vh-67{ border-radius:67vh ; -webkit-border-radius:67vh ; -moz-border-radius:67vh ; -ms-border-radius:67vh ; -o-border-radius:67vh ; }
.rad-vh-68{ border-radius:68vh ; -webkit-border-radius:68vh ; -moz-border-radius:68vh ; -ms-border-radius:68vh ; -o-border-radius:68vh ; }
.rad-vh-69{ border-radius:69vh ; -webkit-border-radius:69vh ; -moz-border-radius:69vh ; -ms-border-radius:69vh ; -o-border-radius:69vh ; }


.rad-vh-70{ border-radius:70vh ; -webkit-border-radius:70vh ; -moz-border-radius:70vh ; -ms-border-radius:70vh ; -o-border-radius:70vh ; }
.rad-vh-71{ border-radius:71vh ; -webkit-border-radius:71vh ; -moz-border-radius:71vh ; -ms-border-radius:71vh ; -o-border-radius:71vh ; }
.rad-vh-72{ border-radius:72vh ; -webkit-border-radius:72vh ; -moz-border-radius:72vh ; -ms-border-radius:72vh ; -o-border-radius:72vh ; }
.rad-vh-73{ border-radius:73vh ; -webkit-border-radius:73vh ; -moz-border-radius:73vh ; -ms-border-radius:73vh ; -o-border-radius:73vh ; }
.rad-vh-74{ border-radius:74vh ; -webkit-border-radius:74vh ; -moz-border-radius:74vh ; -ms-border-radius:74vh ; -o-border-radius:74vh ; }
.rad-vh-75{ border-radius:75vh ; -webkit-border-radius:75vh ; -moz-border-radius:75vh ; -ms-border-radius:75vh ; -o-border-radius:75vh ; }
.rad-vh-76{ border-radius:76vh ; -webkit-border-radius:76vh ; -moz-border-radius:76vh ; -ms-border-radius:76vh ; -o-border-radius:76vh ; }
.rad-vh-77{ border-radius:77vh ; -webkit-border-radius:77vh ; -moz-border-radius:77vh ; -ms-border-radius:77vh ; -o-border-radius:77vh ; }
.rad-vh-78{ border-radius:78vh ; -webkit-border-radius:78vh ; -moz-border-radius:78vh ; -ms-border-radius:78vh ; -o-border-radius:78vh ; }
.rad-vh-79{ border-radius:79vh ; -webkit-border-radius:79vh ; -moz-border-radius:79vh ; -ms-border-radius:79vh ; -o-border-radius:79vh ; }


.rad-vh-80{ border-radius:80vh ; -webkit-border-radius:80vh ; -moz-border-radius:80vh ; -ms-border-radius:80vh ; -o-border-radius:80vh ; }
.rad-vh-81{ border-radius:81vh ; -webkit-border-radius:81vh ; -moz-border-radius:81vh ; -ms-border-radius:81vh ; -o-border-radius:81vh ; }
.rad-vh-82{ border-radius:82vh ; -webkit-border-radius:82vh ; -moz-border-radius:82vh ; -ms-border-radius:82vh ; -o-border-radius:82vh ; }
.rad-vh-83{ border-radius:83vh ; -webkit-border-radius:83vh ; -moz-border-radius:83vh ; -ms-border-radius:83vh ; -o-border-radius:83vh ; }
.rad-vh-84{ border-radius:84vh ; -webkit-border-radius:84vh ; -moz-border-radius:84vh ; -ms-border-radius:84vh ; -o-border-radius:84vh ; }
.rad-vh-85{ border-radius:85vh ; -webkit-border-radius:85vh ; -moz-border-radius:85vh ; -ms-border-radius:85vh ; -o-border-radius:85vh ; }
.rad-vh-86{ border-radius:86vh ; -webkit-border-radius:86vh ; -moz-border-radius:86vh ; -ms-border-radius:86vh ; -o-border-radius:86vh ; }
.rad-vh-87{ border-radius:87vh ; -webkit-border-radius:87vh ; -moz-border-radius:87vh ; -ms-border-radius:87vh ; -o-border-radius:87vh ; }
.rad-vh-88{ border-radius:88vh ; -webkit-border-radius:88vh ; -moz-border-radius:88vh ; -ms-border-radius:88vh ; -o-border-radius:88vh ; }
.rad-vh-89{ border-radius:89vh ; -webkit-border-radius:89vh ; -moz-border-radius:89vh ; -ms-border-radius:89vh ; -o-border-radius:89vh ; }


.rad-vh-90{ border-radius:90vh ; -webkit-border-radius:90vh ; -moz-border-radius:90vh ; -ms-border-radius:90vh ; -o-border-radius:90vh ; }
.rad-vh-91{ border-radius:91vh ; -webkit-border-radius:91vh ; -moz-border-radius:91vh ; -ms-border-radius:91vh ; -o-border-radius:91vh ; }
.rad-vh-92{ border-radius:92vh ; -webkit-border-radius:92vh ; -moz-border-radius:92vh ; -ms-border-radius:92vh ; -o-border-radius:92vh ; }
.rad-vh-93{ border-radius:93vh ; -webkit-border-radius:93vh ; -moz-border-radius:93vh ; -ms-border-radius:93vh ; -o-border-radius:93vh ; }
.rad-vh-94{ border-radius:94vh ; -webkit-border-radius:94vh ; -moz-border-radius:94vh ; -ms-border-radius:94vh ; -o-border-radius:94vh ; }
.rad-vh-95{ border-radius:95vh ; -webkit-border-radius:95vh ; -moz-border-radius:95vh ; -ms-border-radius:95vh ; -o-border-radius:95vh ; }
.rad-vh-96{ border-radius:96vh ; -webkit-border-radius:96vh ; -moz-border-radius:96vh ; -ms-border-radius:96vh ; -o-border-radius:96vh ; }
.rad-vh-97{ border-radius:97vh ; -webkit-border-radius:97vh ; -moz-border-radius:97vh ; -ms-border-radius:97vh ; -o-border-radius:97vh ; }
.rad-vh-98{ border-radius:98vh ; -webkit-border-radius:98vh ; -moz-border-radius:98vh ; -ms-border-radius:98vh ; -o-border-radius:98vh ; }
.rad-vh-99{ border-radius:99vh ; -webkit-border-radius:99vh ; -moz-border-radius:99vh ; -ms-border-radius:99vh ; -o-border-radius:99vh ; }

.rad-vh-100{ border-radius:100vh ; -webkit-border-radius:100vh ; -moz-border-radius:100vh ; -ms-border-radius:100vh ; -o-border-radius:100vh ; }







