@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body,
input {
  font-family: "Poppins", sans-serif;
} */




/* .boxAcount{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;


} */


 
.boxAcount {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}



.boxAcount:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  left: 48%;
  transform: translateY(-50%) translateX(-100%);
  /*background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  */background-color: var(--white);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
  -webkit-transform: translateY(-50%) translateX(-100%);
  -moz-transform: translateY(-50%) translateX(-100%);
  -ms-transform: translateY(-50%) translateX(-100%);
  -o-transform: translateY(-50%) translateX(-100%);
  -webkit-transition: 1.8s ease-in-out;
  -moz-transition: 1.8s ease-in-out;
  -ms-transition: 1.8s ease-in-out;
  -o-transition: 1.8s ease-in-out;
}



.boxAcount {
  padding: 1.5rem;
}


.boxAcount:before {
  bottom: 72%;
  right: 50%;
}













option,
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
option{
  border: solid 1px var(--blue);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



.forms-boxAcount {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.formLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  -webkit-transition: all 0.2s 0.7s;
  -moz-transition: all 0.2s 0.7s;
  -ms-transition: all 0.2s 0.7s;
  -o-transition: all 0.2s 0.7s;
}

.formLogin.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.formLogin.sign-in-form {
  z-index: 2;
}

.titleLogin {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: var(--orange);
  border-color: var(--blue);
}

.btnLogin {
  width: 150px;
  background-color: var(--blue);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btnLogin:hover {
  background-color: var(--orange);
}
.panelsBoxAcount {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.forms-boxAcount{
    /* background-color: var(--blue); */
    /* background-image: url(../style/img/jj.png) */
}


.imagePanel {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.PanelBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.LeftPanel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.PanelBox.contentbox {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.PanelBoxh3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.PanelBoxp {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btnLogin.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .imagePanel,
.right-panel .contentbox {
  transform: translateX(800px);
}

/* ANIMATION */

.boxAcount.sign-up-mode:before {
  transform: translate(100%, -50%);
  left: -52%;
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
}

.boxAcount.sign-up-mode .LeftPanel .imagePanel,
.boxAcount.sign-up-mode .LeftPanel .contentbox {
  transform: translateX(-800px);
}

.boxAcount.sign-up-mode .signin-signup {
  left: 25%;
}

.boxAcount.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.boxAcount.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.boxAcount.sign-up-mode .right-panel .imagePanel,
.boxAcount.sign-up-mode .right-panel .contentbox {
  transform: translateX(0%);
}

.boxAcount.sign-up-mode .LeftPanel {
  pointer-events: none;
}

.boxAcount.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .boxAcount {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .boxAcount.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panelsBoxAcount {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .PanelBox{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .LeftPanel {
    grid-row: 1 / 2;
  }

  .imagePanel {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .PanelBox.contentbox {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .PanelBoxh3 {
    font-size: 1.2rem;
  }

  .PanelBoxp {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btnLogin.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
    background-color: var(--orange);
  }

  .boxAcount:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .boxAcount.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .boxAcount.sign-up-mode .LeftPanel .imagePanel,
  .boxAcount.sign-up-mode .LeftPanel .contentbox {
    transform: translateY(-300px);
  }

  .boxAcount.sign-up-mode .right-panel .imagePanel,
  .boxAcount.sign-up-mode .right-panel .contentbox {
    transform: translateY(0px);
  }

  .right-panel .imagePanel,
  .right-panel .contentbox {
    transform: translateY(300px);
  }

  .boxAcount.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .formLogin {
    padding: 0 1.5rem;
  }

  .imagePanel {
    display: none;
  }
  .PanelBox.contentbox {
    padding: 0.5rem 1rem;
  }


  .boxAcount.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}























/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div3 div .from{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    background: url('./img/Uralskij.jpeg');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}
.div3 div .from select,
.div3 div .from input{
    position: relative;
    width: 50vh;
    color: var(--orange);
    background-color: var(--black2); 
    transform: translateY(10vh);
    -webkit-transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
}


.loginPageText{
    position: absolute;
    top: 20vh;
    left: 1vh;
    -moz-transform: rotate(304deg) translate(115px, 90px) skew(-16deg, 21deg);
    -webkit-transform: rotate(304deg) translate(115px, 90px) skew(-16deg, 21deg);
    -o-transform: rotate(304deg) translate(115px, 90px) skew(-16deg, 21deg);
    -ms-transform: rotate(304deg) translate(115px, 90px) skew(-16deg, 21deg);
    transform: rotate(304deg) translate(115px, 90px) skew(-16deg, 21deg);
}

.btnR{
    color: var(--blue);
    background-color: var(--orange);
    padding: 10px;
    margin: 10px ;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    -ms-border-radius: 49px;
    -o-border-radius: 49px;
    width: 12%;
    text-align: center;

} */

/* .boxAcount{
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .logout{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: none;
} */

/* .greeting{
    font-family: 'dosis';
    font-size: 100px;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
} */